.App {
  text-align: center;
}

.Bookshelf {
  height: 100px;
  width: 500px;
  text-align: center;
  border: 5px solid #000000; /* SaddleBrown color for an antique look */
  border-radius: 15px; /* Optional: adds rounded corners */
  display: flex; /* Use flex container */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

.addbutton {
  height: 30px;
  width: 90px;
  margin-inline: 10px; /* Add margin for spacing */
  border-radius: 5px;
}

.addlabel {
  height: 20px;
  width: 200px;
  margin-right: 10px; /* Add margin for spacing */
}